* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: sans-serif; /* Declare the base font-family */
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 1200px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    margin: auto;
}

header {
}
header h1 {
    font-family: "PT Serif";
    font-size: 25px;
    color: #4253BA;
}
header img {
    float: left;
    margin: 15px;
    width: 100px;
    border-radius: 10px;
}
header h2 {
    font-family: "PT Serif";
    font-size: 20px;
    color: #4253BA;
}
header .subheading { }

#websiteheading {
    font-family: 'Bowlby One SC', cursive;
}

/*MAIN NAVIGATION LAYOUT*/

nav { clear: left; }

.bigger {
    display: none;
}

nav.small button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav.small {
    background-color: #4253BA;
    font-family: "PT Serif", serif;
}

nav.small ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.small ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: .8rem 2%;
    border-top: 1px solid rgba(255, 255, 255, 0.8)
}

nav.small ul li.active a {
    background-color: rgba(22,74,22,1);
}

nav.small ul li a:hover {
    background-color: rgba(26,55,73,0.7);
}

nav.small ul.hide {
    display: none;
}

/*nav {
    display: none;
}

#small {
    display: block;
    margin-bottom: -20px;
    line-height: 40px;
    background-color: #4253BA;
    color: white;
    padding-left: 10px;
    margin-right: 4px;
}

div.left {
    float: left;
    width: 10%;
    padding-right: 50px;
}
div.left div {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
}*/

nav button {}
nav ul {}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

/*MAIN PART LAYOUT*/

main {
}
main h1 {
    font-family: "PT Serif";
    font-size: 25px;
    color: #4253BA;
    margin-left: 5px;
}
main h2 {
    font-family: "PT Serif";
    font-size: 20px;
    color: #4253BA;
    margin-left: 5px;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {
    margin-left: -10px;
}

section.forecast {
    display: none;
}

article img {
    border-radius: 10px;
    width: 100%;
}
main article p {
    margin: 5px;
    text-align: justify;
}

/*FOOTER LAYOUT*/

footer {
    background-color: #efedef;
}

footer h3 {
    padding-top: 5px;
    margin-left: 6px;
    margin-bottom: 5px;
}

footer p {
    margin: 5px;
}

#footer {
    clear: left;
    line-height: 30px;
    background-color: #D1C4CF;
    text-align: center;
}
