@media only screen and (min-width: 37.5em) {



    /*-------------HEADER SECTION LAYOUT-------------*/

    #logo {
        width: 200px;
    }

    #header1 {
        justify-content: space-around;
    }

    #header {
        font-size: 45px;
    }

    #header1 div {
        margin: 15px;
    }


    header nav ul {
        display: flex;
    }

    .hide {
        display: flex;
    }

    header button {
        display: none;
    }

    /*---------------FOOTER LAYOUT______________*/

    footer h3 {
        margin-top: 0;
        margin-left: 6px;
        margin-bottom: 5px;
    }
    #upperfooter {
        display: flex;
    }

    .footer {
        flex: 1;
    }

    /*=============HOME PAGE LAYOUT================*/

    /*-------------MAIN SECTION LAYOUT-------------*/


    #homepagearticles, #homepageregistrationimages {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    #homepageimages {
        margin-top: 5px;
    }

    #homepageadventuretours {
        justify-content: space-around;
    }

    #homepageadventuretours div {
        padding: 50px 20px;
    }

    #homepageimages1, #homepageimages2, #homepageimages3 {
        flex: 1;
        max-width: 400px;
        max-height: 300px;
    }

    #homepagesales, #homepageservices {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        border: 1px black solid;
        margin: 10px;
        width: 50%;
    }

    #homepagesales img {
        margin: 10%;
    }

    #homepageservices img {
        margin: 10%;
    }

    #homepageadventuretours {
        border: 1px black solid;
    }

    #homepagesales section {
        padding: 0;
    }

    #homepageservices section {
        padding: 0;
    }


    /*=============SALES PAGE LAYOUT================*/

    /*-------------MAIN SECTION LAYOUT-------------*/



    #mainsales {
        position: relative;
        height: 1300px;
    }

    #salestable table {
        width: 300px;
        margin-left: -350px;
        margin-top: 20px;
    }

    .sales > div {
        position: relative;
        width: 1600px;
        height: 350px;
        padding: 0;
        margin 0;
        left: -958px;
        transition: left 500ms;
    }

    .bicyclename {
        display: block;
        width: 500px;
        padding: 30px;
    }

    .salespage {
        font-family: 'Faster One', cursive;
        font-size: 35px;
        color: #OA0604;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }


    div.slideEffect {
        left:-30px;
    }

    /*=============SERVICE PAGE LAYOUT================*/



    /*--------------TABLE LAYOUT------------------*/

    #servicetable table {
        width: 600px;
    }


    /*=============TOUR PAGE LAYOUT================*/

    #tours {
        display: flex;
        justify-content: space-around;
    }

    #tour1, #tour2 {
        border: 1px solid black;
    }

    /*=============EVENT PAGE LAYOUT================*/

    #eventtour {
        display: flex;
        justify-content: space-around;
    }

    /*=============CONTACT PAGE LAYOUT================*/

    #googlemap {
        width: 505px;
        height: 305px;
        overflow: auto;
        cursor: pointer;
    }

    #googlemap img {
        width: 500px;
        height: 300px;
        border: 2px solid #D4DBDB;
        align-self: center;
    }


}
