* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: sans-serif; /* Declare the base font-family */
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 1200px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    margin: auto;
}

header {
}
header h1 {
    font-family: "PT Serif";
    font-size: 25px;
    color: #4253BA;
    }
header img {
    float: left;
    margin: 15px;
    width: 100px;
    border-radius: 10px;
}
header h2 {
    font-family: "PT Serif";
    font-size: 20px;
    color: #4253BA;
}
header .subheading { }

nav { clear: left; }
nav button {}
nav ul {}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

main {}
main h1 {
    font-family: "PT Serif";
    font-size: 25px;
    color: #4253BA;
}
main h2 {
    font-family: "PT Serif";
    font-size: 20px;
    color: #4253BA;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {
    width: 400px;
}

section.forecast {
    display: none;
}

article img {
    border-radius: 10px;
}

footer {
    background-color: #efedef;
}

footer h3 {
    padding-top: 10px;
    margin-left: 6px;
    margin-bottom: 5px;
}

footer p {
    margin: 5px;
}

#footer {
    clear: left;
    line-height: 30px;
    background-color: #D1C4CF;
    text-align: center;
}
