@media only screen and (min-width: 64em) {

    main {
        margin: auto;
    }

    main #uppersection img {
        max-width: 50%;
        max-height: auto;
        margin: auto;
        padding: 5px 0;
    }

    main #lowersection {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    main #lowersection div {
        display: flex;
        flex-direction: column;
    }

    main #lowersection div {
        border: 1px solid #4253BA;
        box-shadow: 5px 5px 5px #4253BA;
        margin: 20px 20px;
        text-align: center;
    }

    main #lowersection #divleft {
        flex-direction: column;
    }

    main #lowersection div img {
        width: 100%;
        padding: 20px 20px;
        text-align: center;
    }

    main #lowersection div article {
        border: none;
        box-shadow: none;
        text-align: center;
    }
}
