* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: sans-serif; /* Declare the base font-family */
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 1200px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    margin: auto;
}

/*HEADER LAYOUT*/

header {
    display: flex;
}

header img {
    align-self: center;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;

}
header h2 {
    font-family: "PT Serif";
    font-size: 20px;
    color: #4253BA;
}
header .subheading { }

#websiteheading {
    font-family: 'Bowlby One SC', cursive, "PT Serif";
    font-size: 25px;
    color: #4253BA;
}

/*MAIN NAVIGATION LAYOUT*/

nav { }

.bigger {
    display: none;
}

nav.bigger ul li.active a {
    background-color: rgba(22,74,22,1);
}

nav.small button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav.small {
    background-color: #4253BA;
    font-family: "PT Serif", serif;
}

nav.small ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.small ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: .8rem 2%;
    border-top: 1px solid rgba(255, 255, 255, 0.8)
}

nav.small ul li.active a {
    background-color: rgba(22,74,22,1);
}

nav.small ul li a:hover {
    background-color: rgba(26,55,73,0.7);
}

nav.small ul.hide {
    display: none;
}

nav button {}
nav ul {}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

/*MAIN PART LAYOUT*/

main {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

main img {
    width: 100%;
}

main h2 {
    font-family: "PT Serif";
    font-size: 25px;
    color: #4253BA;
    margin-left: 5px;
}

main article {
    border: 1px solid #4253BA;
    box-shadow: 5px 5px 5px #4253BA;
    text-align: center;
}

main article p {
    text-align: center;
}

main article li {
    text-align: left;
}

/*--------------------LAYOUT FOR FRANKLIN PAGE-------------------------*/

main {
}
main h1 {
    font-family: "PT Serif";
    font-size: 25px;
    color: #4253BA;
    margin-left: 5px;
}
main h2 {
    font-family: "PT Serif";
    font-size: 20px;
    color: #4253BA;
    margin-left: 5px;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {
    margin-left: -10px;
}

section.forecast {
    display: none;
}

article img {
    border-radius: 10px;
    width: 100%;
}
main article p {
    margin: 5px;
    text-align: justify;
}

#grid {
    display: grid;
}

#grid img {
    width:90%;
    margin: 20px;
}

#grid figcaption {
    text-align: center;
    color: #4253BA;
    padding: 0 15px;
}


/*-------------FORM LAYOUT-----------------*/

#storm {
    display: none;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #4253BA;
    padding: 1rem 3%;
}

form legend {
    color: #4253BA;
    padding: 0 .4rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #4253BA;
    padding: .75rem;
    color: #444;
    width: 100%;
    max-width: 19rem;
    background-color: rgba(0,0,0,0.05);
}

#range {
    display: block;
    padding: 1rem 0 5px 0;
}

#ratingvalue {
    padding-right: 5px;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
}

fieldset textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #4253BA;
    background-color: rgba(0,0,0,0.05);
}
form input.submitBtn {
    border: none;
    background-color: #4253BA;
    color: white;
    border-radius: 7px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 3%;
    width: 100%;
    max-width: 19rem;
}

form label.top input:required {
    border: red solid 5px;
}

form label.top input:required:valid {
    border: #38BC38 solid 5px;
}

#thanks {
    margin: 100px 20px;
    text-align: center;
}

/*-----------FOOTER LAYOUT-------------------------*/

footer {
    background-color: #efedef;
}

footer h3 {
    padding-top: 5px;
    margin-left: 6px;
    margin-bottom: 5px;
}

footer p {
    margin: 5px;
}

#footer {
    line-height: 30px;
    background-color: #D1C4CF;
    text-align: center;
}
