@media only screen and (min-width: 64em) {

    /*GRID LAYOUT*/

    #grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        padding-left: 12px;
    }

    #grid img { width: 90%; }

    #grid figcaption {
        text-align: center;
    }

    #grid img:hover {
        box-shadow: 10px 10px 5px grey;
    }

    #grid figcaption:hover {
        text-shadow: 5px 5px 3px grey;
    }
}
